releases/2019CDAR2_1_2022JUNerrata/support/dtd/v3mVocabulary.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by George W Beeler (Beeler Consulting LLC) -->
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Mike Craig (HL7) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!--
	add local elements to various classes
	defined in the main DTD
  -->
<!ENTITY % local.p.class "|vocSet|extDomain|abstDomain|specDomain|leafTerm">
<!ENTITY % local.header.mdl ", legalese">
<!ENTITY % local.version.att "vocabDTDversionNum CDATA #FIXED '1'">
<!-- Dropping these for now
<!ENTITY % local.emph.class "| ital">
<!ENTITY % emph.class "emph | ital">
<!ENTITY % p.pcd.mix "#PCDATA | attUser |%emph.class;">
<!ELEMENT ital (%p.pcd.mix;)*>
-->
<!ENTITY % user.mix "rimRef | dtRef">
<!ENTITY % cont.mix "abstDomain | specDomain | leafTerm | vocSet">
<!ELEMENT rimRef (dtRef?)>
<!ATTLIST rimRef
	ref NMTOKEN #REQUIRED
	fqn CDATA #REQUIRED
	strength CDATA #IMPLIED
>
<!ELEMENT dtRef EMPTY>
<!ATTLIST dtRef
	ref NMTOKEN #REQUIRED
	fqn CDATA #REQUIRED
>
<!--
	include the main DTD
  -->
<!ENTITY % v3m SYSTEM 'v3m.dtd'>
%v3m;
<!--
	declare new elements/attributes here
	to be useful, these new elements have to
	appear in the local classes above
  -->
<!--xx mvarname As String 'local copy
cc Private mvarprintName As String 'local copy
xx Private mvarstatus As String 'local copy
xx Private mvarcType As String
'   V   Vocabulary
'   T   Table (NOTE: For each T, there MUST BE a corresponding A or S that holds the true structure!
'   A   Abstract Value set
'   S   Specializable Value Set
'   C   Leaf term
cc Private mvarCode As String 'local copy
ee Private mvardescription As String 'local copy
xx Private mvarconceptID As String 'local copy
ee Private mvarcontents As mConcepts 'local copy
ee Private mvarattributeUsers As mAttributes
ee Private mvardatatypeUsers As mDTcomponents
xx Private mvaraParent As mConcep-->
<!ENTITY % ConcAtt "concepType (V | T | A | S | C | E) #REQUIRED
	id ID #REQUIRED
	conceptID CDATA #REQUIRED
	name CDATA #IMPLIED
	keyCodeOrder CDATA #IMPLIED
	keyNameOrder CDATA #IMPLIED
	parentConceptRef IDREF #IMPLIED
	realm CDATA #IMPLIED
	status CDATA #IMPLIED
	openIssue CDATA #IMPLIED
	appliesTo CDATA #IMPLIED
	howApplies CDATA #IMPLIED">
<!--"concepType (V | T | A | S | C | E) #REQUIRED - as above, plus E for external
	id ID #REQUIRED - parentConceptID-conceptID - permits same concept in multiple contexts.  
	   There is a potential conflict, but the same parent-child context will NEVER repeat in a single table, 
	   and should not repeat in multiple tables.  For Tables, or SetNames it is just "T"-conceptID
	name CDATA #IMPLIED - domainName, or tableName (setName), if any
	parentConceptRef IDREF #IMPLIED - This should NOT repeat.  If a concept exists for two parents, it
	   appears again under the new parent and with a new ID
	status CDATA #IMPLIED" - from vocab DB-->
<!ENTITY % CodeAtt "Code CDATA #REQUIRED
	printName CDATA #REQUIRED">
<!--"Code CDATA #REQUIRED - obvious
	printName CDATA #REQUIRED" - obvious-->
<!ENTITY % RefAtt "ref IDREF #REQUIRED">
<!ELEMENT legalese EMPTY>
<!ATTLIST legalese
	copyRightOwner CDATA #IMPLIED
	copyRightDate CDATA #IMPLIED
	copyRightNotation CDATA #IMPLIED
	renderer CDATA #IMPLIED
	renderNotation CDATA #IMPLIED
	contactEmail CDATA #IMPLIED
	contactName CDATA #IMPLIED
	contactNote CDATA #IMPLIED
>
<!ATTLIST VOC
	%ConcAtt; 
	DTDversionNum CDATA #FIXED "1"
>
<!ELEMENT VOC (header, body)>
<!ATTLIST vocSet
	%ConcAtt; 
	%ballot.att; 
>
<!--vocSet is a Vocabulary Set or Table.  Distinguished by a unique SetName  It is either an HL7-defined
    table or else a domain defined against an External value set-->
<!ELEMENT vocSet (p*, attUser?, extDomain?, vocContents?)>
<!ELEMENT attUser (%user.mix;)*>
<!ELEMENT vocContents (%cont.mix;)*>
<!ATTLIST abstDomain
	%ConcAtt; 
>
<!ELEMENT abstDomain (p*, vocContents)>
<!ATTLIST specDomain
	%ConcAtt; 
	%CodeAtt; 
>
<!ELEMENT specDomain (p*, vocContents?)>
<!ATTLIST leafTerm
	%ConcAtt; 
	%CodeAtt; 
>
<!ELEMENT leafTerm (p*)>
<!ATTLIST extDomain
	systemName CDATA #REQUIRED
	definingExpression CDATA #IMPLIED
>
<!ELEMENT extDomain (vocContents?)>
